<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Investment Manager - Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    <a href="/">Home</a>
    <a href="/accounts">Accounts</a>
    <a href="/investments">Investments</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>Name</td>
        <td>Balance</td>
        <td>Symbol</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="acc: ${accounts}">
        <td th:text="${acc.getName()}">None</td>
        <td th:text="${acc.getBalance()}">None</td>
        <td th:text="${acc.getSymbol()}">None</td>
    </tr>
    </tbody>
</table>
</body>
</html>